@model IEnumerable<ProyectoFinal.PrograAvanzada.Vite.Model.ARTICULOS>

@{
    ViewBag.Title = "Articulos Bajo Custodia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Ingresar Articulo Perdido", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ESTADO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MARCA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MODELO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPCION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FOTOS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CATEGORIA_ARTICULO.NOMBRE_CATEGORIA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ESTADO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MARCA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MODELO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FOTOS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CATEGORIA_ARTICULO.NOMBRE_CATEGORIA)
        </td>
        <td>
            @Html.ActionLink("Detalles", "Details", new { id=item.ID }) |
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Regresar", "Invitado", "Invitado")<br />
</div>